<body align="center">
        <div class="login-form">
        <h1>login-form</h1>
        <form action="#" method="post">
            <p>user name</p>
            <input type="text" name="user" placeholder="user name">
            <p>password</p>
            <input type="password" name="password" placeholder="password"><br>
        <button routerLink="addusers"><a href="/home">Submit</a></button>
        </form>
    </div>
    
</body>
<div class="pic">
   <marquee direction="right"> <img src="http://33.media.tumblr.com/971322a30468d0dd41be63e1ecd0c2c1/tumblr_nd73l2RXIu1tkx2tno1_500.gif" width="35%" height="50%"></marquee></div>