<body><div class="container">
    <!-- <div class="pic">
        <img src="http://33.media.tumblr.com/971322a30468d0dd41be63e1ecd0c2c1/tumblr_nd73l2RXIu1tkx2tno1_500.gif" width="35%" height="50%"></div> -->
    <div class="Name">
    <img src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" width="35%" height="50%"></div>
    <div  class="Page">
    <a routerLink="/login">Login</a>
    <a routerLink="/Signup">Signup</a></div>
    <div class="Options">
    <select><option>Add User</option>
    <option>Gopi</option>
    <option>Dinesh</option>
    <option>Bhanu</option>
    <option>Eswar</option>
    <option>Chandhra</option>
    </select></div>
    <router-outlet></router-outlet></div>
    </body>