<body >
    <div class="card" id="card2">
    <div class="card" id="card1">
        <div id="user">
            <label>Username :
            
            <input type="text" placeholder="Enter username" [(ngModel)]="user.username"></label>
        </div>
        <br>
        <div id="email">
            <label>Email Id :
            <input type="text" placeholder="Enter Emailid"[(ngModel)]="user.emailid"></label>
        </div>
        <br>
        <div id="number">
            <label>Phone Number :
            <input type="text"  placeholder="Enter Number" [(ngModel)]="user.phnumber"></label>
        </div>
        <br>
        <div id="pass">
            <label>Password :
            <input type="password"  placeholder="Enter Password" [(ngModel)]="user.password"></label>
        </div>
        <br>
        <div id="but">
            <input type="button" value="Sign Up"  >
        </div>
     <div id="log">
         <h6>Already a user ?</h6>
         <a routerLink="/login">Log In</a>
     </div>
    
    </div>
    
    </div></body>
    
    <router-outlet></router-outlet>
