body{
    
    text-align: center;
    display: inline-block;
    margin-left: 70%;
    margin-top: 10%;
    border: transparent;
    background-image: url('https://wallpaper.dog/large/961991.jpg');
    font-style: oblique;
}
.card2{
    background-image: url('https://wallpaper.dog/large/961991.jpg');
}
