.table{
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    margin-left: 190px;
    margin-left: 200px;
    margin-left: 90px;
    padding: 40px 80px;
    text-decoration: none;
}
.container{
    background-image: linear-gradient(rgba(244, 241, 241, 0.3),transparent),url('https://wallpaperaccess.com/full/151931.jpg');
    /* height: 100%;
    width: 100%; */
    background-size: cover;
     position: relative; 
    padding:  0.3%;
    color: white;
}